<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">123456</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <mapping class="hibernate.Transactions" package="hibernate" resource="rest/Transactions.hbm.xml"/>
  <mapping class="hibernate.User" package="hibernate" resource="rest/User.hbm.xml"/>
  <mapping class="hibernate.Account" package="hibernate" resource="rest/Account.hbm.xml"/>
  <mapping class="hibernate.Bank" package="hibernate" resource="rest/Bank.hbm.xml"/>
  <mapping class="hibernate.BankAccountDTO" package="hibernate" resource="rest/BankAccountDTO.hbm.xml"/>
  <mapping class="hibernate.DelayedPayment" package="hibernate" resource="rest/DelayedPayment.hbm.xml"/> 
 </session-factory>
</hibernate-configuration>
