<div ng-show="loading" class="loadingCentered">
	<div ng-show="!databaseFailure">
		<i class="fa fa-spinner fa-spin fa-3x co-blue" aria-hidden="true"></i>
	</div>
	<div ng-show="databaseFailure">
		<i class="fa fa-ban fa-3x co-red" aria-hidden="true"></i>
		<br>
		There was an error connecting to the database. Please try again later.
	</div>
</div>
<div ng-show="!loading">
	<div class="pageHeader">
		<img src="images/capitalone_logo.png" alt="CapitalOne Logo" style="height:50px">
		<button ng-click="logout()">
			<i class="fa fa-sign-out" aria-hidden="true"></i>
			Logout
		</button>
	</div>
	<div class="secondaryHeader">
		&nbsp;&nbsp;&nbsp;Transaction History
	</div>
	<br><br><br>
		<button class="transactionButton" ng-click="startNewTrans()">
			<i class="fa fa-plus" aria-hidden="true"></i>
			New transaction
		</button>
	<br>
	<div>
		<br><br>
		
		<!-- PENDING TRANSACTIONS TABLE -->
		<div class="large bold">Pending Transactions</div>
		<br>
		<div ng-show="hasElements(pendingTrans)">
			<div class="gridCell bold">Trans Number</div>
			<div class="gridCell bold">Account Number</div>
			<div class="gridCell bold">Date</div>
			<div class="gridCell bold">Amount</div>
			<div class="gridCell bold">Status</div>
			<div ng-repeat="t in pendingTrans" ng-class-odd="'grayBackground'" style="width:1100px">
				<div class="gridCell">{{t.id}}</div>
				<div class="gridCell">{{t.account}}</div>
				<div class="gridCell">{{t.date | date:"MM/dd/yyyy"}}</div>
				<div class="gridCell">{{t.amount | currency:"$"}}</div>
				<div class="gridCell">{{t.status}}</div>
			</div>
		</div>
		<div ng-show="!hasElements(pendingTrans)">
			There are no pending transactions for this account.
		</div>
		
		<br><hr><br>
		
		<!-- COMPLETED TRANSACTIONS TABLE -->
		<div class="large bold">Completed Transactions</div>
		<br>
		<div ng-show="hasElements(completedTrans)">
			<div class="gridCell bold">Trans Number</div>
			<div class="gridCell bold">Account Number</div>
			<div class="gridCell bold">Date</div>
			<div class="gridCell bold">Amount</div>
			<div class="gridCell bold">Status</div>
			<div ng-repeat="t in completedTrans" ng-class-odd="'grayBackground'" style="width:1100px">
				<div class="gridCell">{{t.id}}</div>
				<div class="gridCell">{{t.account}}</div>
				<div class="gridCell">{{t.date | date:"MM/dd/yyyy"}}</div>
				<div class="gridCell">{{t.amount | currency:"$"}}</div>
				<div class="gridCell">{{t.status}}</div>
			</div>
		</div>
		<div ng-show="!hasElements(completedTrans)">
			There are no completed transactions for this account.
		</div>
	</div>
</div>