<div ng-show="loading" class="loadingCentered">
	<i class="fa fa-spinner fa-spin fa-3x co-blue" aria-hidden="true"></i>
</div>
<div ng-show="!loading">
	<div class="pageHeader">
		<img src="images/capitalone_logo.png" alt="CapitalOne Logo" style="height:50px">
		<button ng-click="logout()">
			<i class="fa fa-sign-out" aria-hidden="true"></i>
			Logout
		</button>
	</div>
	<div class="secondaryHeader">
		&nbsp;&nbsp;&nbsp;Transaction History
	</div>
	<br><br><br>
		<button class="transactionButton">
			<i class="fa fa-plus" aria-hidden="true"></i>
			New transaction
		</button>
		<button class="transactionButton" ng-click="fetchUserData()">
			<i class="fa fa-refresh" aria-hidden="true"></i>
			Refresh list
		</button>
	<br>
	<div>
		<br><br>
		<div class="large bold">Pending Transactions:</div>
		<br>
		<div class="gridCell bold">Account Number</div>
		<div class="gridCell bold">Date</div>
		<div class="gridCell bold">Amount</div>
		<div class="gridCell bold">Status</div>
		<div ng-repeat="t in pendingTrans">
			<div class="gridCell">{{t.account}}</div>
			<div class="gridCell">{{t.date | date:"MM/dd/yyyy"}}</div> <!--The stuff after the | is an Angular filter. Go look it up.-->
			<div class="gridCell">{{t.amount | currency:"$"}}</div>
			<div class="gridCell">{{t.status}}</div>
		</div>
		<br><br>
		<div class="large bold">Completed Transactions:</div>
		<br>
		<div class="gridCell bold">Account Number</div>
		<div class="gridCell bold">Date</div>
		<div class="gridCell bold">Amount</div>
		<div class="gridCell bold">Status</div>
		<div ng-repeat="t in completedTrans">
			<div class="gridCell">{{t.account}}</div>
			<div class="gridCell">{{t.date | date:"MM/dd/yyyy"}}</div> <!--The stuff after the | is an Angular filter. Go look it up.-->
			<div class="gridCell">{{t.amount | currency:"$"}}</div>
			<div class="gridCell">{{t.status}}</div>
		</div>
	</div>
</div>